//author @huntbao
.panel-wrap {
  position: absolute;
  right: 9999px;
  top: 150px;
  width: 640px;
  transition: all ease .2s;

  &.show {
    right: 5px;
    z-index:1000;
    background:#fff;
  }

  .mod-panel {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 25px 20px;
    height: 820px
    position: relative;

    .inp {
      padding: 5px;
      border-radius 3px;
      border: 1px solid #ccc;
      height: 30px;/* 网站使用了bootstrap，box-sizing: border-box; */
      outline: none;
      margin: 0 1% 0 0;
    }

    .btn {
      width: 14%;
      border-radius 3px;
      background-color: #06c;
      height: 30px;
      line-height: 28px;
      vertical-align:top;
      padding:0;
      border: 0 none;
      color: #fff;
      cursor: pointer;
      outline: none;
    }

    .loading {
      position: absolute;
      top: 0
      right: 0
      bottom: 0
      left: 0
      opacity: 0
      background: #fff url('./ajax_loader.gif') no-repeat 50% 50%;
      transition: all ease .3s;
      z-index -1;
    }

    &.loading-tip {
      .loading {
        opacity: .8
        z-index: auto
      }
    }
  }

  .btn-group {
    margin: 0

    .btn {
      display: inline-block;
      margin: 0 5px 0 0
      background-color: #e5e5e5
      font-size: 14px;
      padding: 4px;
      border-radius: 3px;
      cursor: pointer
      transition: all ease .3s;

      &:hover {
        background-color: #5f86bd;
        color: #fff;
      }
    }

    .more {
      font-size: 12px;
    }
  }

  &.law .law,
  &.case .case,
  &.theory .theory,
  &.qa .qa, 
  &.article .article {
    background-color: #5f86bd;
    color: #fff;
  }

  &.law,
  &.case,
  &.theory ,
  &.qa,
  &.article {
    .key-inp {
      width: 81%;
    }

    .wh-inp {
      display: none;
    }
  }

  &.law {
    .key-inp,
    .wh-inp {
      width: 39%;
      display: inline-block;
    }
  }

  .close-btn {
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 30px !important;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    cursor: pointer;
    border: none;
    background: 0 0;
    margin: 0;
    padding: 0;
    position: absolute
    right: 3px;
    top: 0;
    transition all ease .3s;

    &:hover {
      opacity: .5
    }
  }
}

