//author @huntbao
.mod-panel {
  position: absolute;
  left: 760px;
  top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 600px;
  padding: 20px;

  .inp {
    padding: 5px;
    width: 40%;
    border-radius 3px;
    border: 1px solid #ccc;
    height: 20px;
    outline:none;
  }

  .btn {
    width: 14%;
    border-radius 3px;
    background-color: #06c;
    height: 30px;
    line-height:28px;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    outline: none;
  }
}
