//author @huntbao
body {
  overflow-x hidden
}
.global-insert {
  position: absolute
  right: 8px;
  bottom: 8px;
  width: 40px;
  height: 18px
  line-height: 18px;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  transition: all ease .3s;
  opacity:1
  background-color: #cc7832
  z-index:1001;
}
#kind-emotion,#kind-simpleupload {
  color: #9c9999;
  margin-right: 16px;
}
#kind-library {
  padding-left: 25px;
  margin-right: 20px;
  background: url(./library.png) no-repeat 1px 0;
  cursor:pointer;
  color: #9c9999;
}
#kind-article {
  padding-left: 20px;
  background: url(./article.png) no-repeat 0 0;
  cursor:pointer;
  color: #9c9999;
}
