//author @huntbao
body {
  overflow-x hidden
}
.global-insert {
  position: absolute
  right: 8px;
  bottom: 8px;
  width: 40px;
  height: 18px
  line-height: 18px;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  transition: all ease .3s;
  opacity:1
  background-color: #cc7832
  z-index:1001;
}